/**
 * index.css
 * - Add any styles you want here!
 */
 
body {
  background: #a1a1a1;
  width:100vw;
  height:100vh;
  padding: 10px;
}
.app-wrapper{
  width:(100vw -20px);
  height:100%;
  padding: 10px;
  border:solid .01em #000;
}
h1{
  text-align:center;
}
h3{
  text-decoration:underline;
}
.candidate{
  width: 400px;
  float:left;
  text-align:right;
  padding: 0 10px;
}
