*{
  padding:0;
  margin:0;
}
.app-wrapper {
  width:(100%-20px);
  margin:0 10px;
  height:600px; 
  border: solid 0.01em #000;
}
header,footer{
  background:#333;
  margin:10px 0;
  height:50px;
  line-height:50px;
}
main{
  height:250px;
}
h1{
  text-align:center;
  color:#fff;
}
table{
  margin:0 auto;
  width:600px;
}
table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
  padding:10px;
 }
table th{
  background:crimson;
  color:#fff;
}
table td:nth-child(1){
  font-weight:bolder;
}
table td:nth-child(9) {
  background-color:crimson;
  text-align:center;
  color:#fff;
}

footer ul>li{
  display:inline-block;
  width:45%;
  color:#fff;
  text-align:center;
  font-weight:bolder;
  margin: auto 0;
}
footer a{
  color:#fff;
  text-decoration:none;}
